
  <div class="input-group">
    <form onsubmit="">
    <label for="initial">Initial Investment</label>
    <input type="text" [(ngModel)]="initialInvestment">
    <label for="annual">Annual Investment</label>
    <input type="text" [(ngModel)]="annualInvestment">
    <label for="Expected">Expected Returns</label>
    <input type="text" [(ngModel)]="expectedReturn">
    <label for="years">Years</label>
    <input type="text" [(ngModel)]="years">
    <button type="submit">Calculate</button>
    </form>

  </div>
